#gallery img {
    height: 80vh;
    object-fit: cover;
    margin: 1rem 0;
    border-radius: 20px;
}

.courses {
    background-image: url('../images/fantastic/IMG_20200210_144428_955.png');
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    color: white;
}

.courses .container {
    padding: 40px;
}


.courses h4 {
    padding: 1rem 0;
}

@media screen and (max-width: 460px) {
    h3 {
        font-size: 1.3rem;
    }
}